<p>
  Hello
  <%= @user.name %>
</p>
<h3>Add a new repository</h3>

<%= form_for @repository do |f| %>
<%= f.label :full_name %>
<%= f.text_field :full_name %>
<%= f.submit %>
<% end %>

<h3>List of enabled repositories</h3>
<table>
  <tr>
    <td>Name</td>
  </tr>
  <% @user.repositories.each do |repo| %>
  <tr>
    <td><%= repo.full_name %></td>
  </tr>
  <% end %>
</table>
